#bgfire{
    background-image: url("../images/bgfire1.jpg");
    height: 700px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}
body,html{
    margin: 0;
    margin-top: 50px;
    top: 0;
    background-color: black;
}
.navBar{
    height: 70px;
    position: fixed;
    background-color: black;
    margin: 0;
    top: 0;
    width: 100%;
    padding-top: 35px;
    font-size: 15px;
}
.nav{
    color: white;
    margin-left: 2%;
    text-decoration: none;
    
}
#whatcc{
    margin-left: 20%;
}
.intro{
    background-color: black;
    color: white;
    margin: 0;
}
h2,hr,h6{
    margin: 0;
}
footer{
    height: 100px;
}
h6{
    padding-top: 2%;
}
h2{
    padding: 70px;
    width: 50%;
    margin: auto;
    text-align: center;
}
div{
    background-color: black;
    color: white;
    margin: 0;
}
p{
    margin: 0;
}
a:hover{
    color: red;
}
a.selected{
    color: red;
}
