html{
    background-image: url("szaab.jpg") ;
}

main{
    width: 50%;
    margin: auto;
    background-color: rgb(7, 135, 214);
    padding: 5%;
    border-style: groove;
    border-radius: 25px;
    color: white;
    text-align: center;
}

h1{
    font-size: 100px;
    color: white;
    text-shadow: 3px 3px 9px black;
    text-align: center;
}